<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div>
    time: {{ time }}
    <br>
    timezone: {{timezone}}
  </div>
  <form #utcForm="ngForm">
    <input id="appt-time" type="time" name="appt-time" step="2" required="" [(ngModel)]="datos.dato1">
    <input type="number" name="utc" placeholder="UTC" required="" min="0" max="24" [(ngModel)]="datos.dato2">
    <button class="btn btn-primary" role="button" (click)='send()' [disabled]="!utcForm.form.valid">Calcular</button>
  </form>

</div>
